<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>


  <div class='well'>
    <dl class='dl-horizontal'>
      <dt>Username: </dt>
      <dd><%= @user.username %></dd>
    </dl>
  </div>

<h5><%= @user.username %>'s Activity</h5>
<ul class="nav nav-tabs">
  <% unless params[:tab] == 'comments' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
      <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
    </li>
  <% if params[:tab] == 'comments' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>
      <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
    </li>
</ul>
<% if params[:tab] == 'comments' %>
  <%= render 'shared/comments', comments: @user.comments %>
<% else %>
  <%= render 'shared/posts', list: @user.posts %>
<% end %>
