<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>


  <div class='well'>
    <dl class='dl-horizontal'>
      <dt>Username: </dt>
      <dd><%= @user.username %></dd>
    </dl>
  </div>

<h5><%= @user.username %>'s Activity</h5>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Posts (<%= @user.posts.size %>)</a>
  </li>
  <li>
    <a href="#">Comments (<%= @user.comments.size %>)</a>
  </li>
</ul>

<%= render 'shared/posts', list: @user.posts %>

