<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>


  <div class='well'>
    <dl class='dl-horizontal'>
      <dt>Username: </dt>
      <dd><%= @user.username %></dd>
    </dl>
  </div>

<h5><%= @user.username %>'s Activity</h5>
<ul class="nav nav-tabs">
    <li class='<%= 'active' unless params[:tab] %>'>
      <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
    </li>
    <li class='<%= 'active' if params[:tab]=='comments' %>'>
      <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
    </li>
</ul>
<% if params[:tab] == 'comments' %>
  <%= render 'shared/comments', comments: @user.comments.sort_by{|x| x.vote_count}.reverse, show_post_title: true %>
<% else %>
  <%= render 'shared/posts', list: @user.posts.sort_by{|x| x.vote_count}.reverse %>
<% end %>
