<% show_post_title ||= false %>
<% comments.each do |comment| %>
  <div class='row'>
    <div class='span0 well text-center'>
      <% if logged_in? %>
        <%= link_based_on_current_users_vote_on_comment(comment, true) %>
        <br>
      <% end %>
      <%= "<strong>#{comment.vote_count}</strong> <small>(#{pluralize(comment.votes.size, "Vote")})</small>".html_safe %>
      <% if logged_in? %>
        <br>
        <%= link_based_on_current_users_vote_on_comment(comment, false) %>
      <% end %>
    </div>
    <div class='span8 well well-small'>
      <p>
        "<em><%= comment.body %></em>"
        <% if show_post_title %>
          on <%= link_to comment.post.title, post_path(comment.post) %>
        <% end %>
      </p>
      <p><%= render 'shared/footer', item: comment %></p>
    </div>
  </div>
<% end %>
