<% show_post_title ||= false %>
<% comments.each do |comment| %>
  <div class='row'>
    <div class='span0 well text-center' id='comment_<%= comment.id %>_votebox'>
      <% if logged_in? %>
        <span id='voteup'><%= link_based_on_current_users_vote_on_comment(comment, true) %></span><br>
      <% end %>
      <span id='votes'><%= "<strong>#{comment.vote_count}</strong> <small>(#{pluralize(comment.votes.size, "Vote")})</small>".html_safe %></span>
      <% if logged_in? %>
        <br><span id='votedown'><%= link_based_on_current_users_vote_on_comment(comment, false) %></span>
      <% end %>
    </div>
    <div class='span8 well well-small'>
      <p>
        "<em><%= comment.body %></em>"
        <% if show_post_title %>
          on <%= link_to comment.post.title, post_path(comment.post) %>
        <% end %>
      </p>
      <p><%= render 'shared/footer', item: comment %></p>
    </div>
  </div>
<% end %>
