<% list.each do |post| %>
  <div class='row'>
    <div class='span0 well text-center' id='post_<%= post.id %>_votebox'>
      <% if logged_in? %>
        <span id='voteup'><%= link_based_on_current_users_vote_on_post(post, true) %></span>
        <br>
      <% end %>
      <span id='votes'><%= "<strong>#{post.vote_count}</strong> <small>(#{pluralize(post.votes.size, "Vote")})</small>".html_safe %></span>
      <% if logged_in? %>
        <br>
        <span id='votedown'><%= link_based_on_current_users_vote_on_post(post, false) %></span>
      <% end %>
    </div>
    <div class='span8 well'>
      <%= render post.categories %>
      <h4><%= link_to post.title, post_path(post) %></h4>
      <p><%= post.description %></p>
      <p>
        <%= render 'shared/footer', item: post %>
        <% if current_user == post.creator %>
          <%= link_to 'Edit Post', edit_post_path(post) %>
        <% end %>
      </p>
      <span>
        <%= link_to pluralize(post.comments.size, "Comment"), post_path(post) %>
      </span>
    </div>
  </div>
<% end %>

