<% list.each do |post| %>
  <div class='row'>
    <div class='span8 well'>
      <%= render post.categories %>
      <h4><%= link_to post.title, post_path(post) %></h4>
      <p><%= post.description %></p>
      <p>
        <%= render 'shared/footer', item: post %>
        <% if current_user == post.creator %>
          <%= link_to 'Edit Post', edit_post_path(post) %>
        <% end %>
      </p>
      <span>
        <%= link_to pluralize(post.comments.size, "Comment"), post_path(post) %>
      </span>
    </div>
  </div>
<% end %>

