<p class='pull-right'>
  [<%= link_to 'Edit this post', edit_post_path(@post) %>]
</p>

<%= render 'shared/content_title', title: link_to( @post.title, fix_url(@post.url) ) %>

<p>
  <%= render @post.categories %>
</p>

<p><%= @post.description %></p>
<hr/>

<p>
  <%= render 'shared/footer', item: @post %>
</p>
<p><%= link_to 'Back', posts_path %></p>

<%= render 'shared/errors', model_obj: @comment %>

<%= form_for [@post, @comment] do |f| %>
  <strong><%= f.label :body, "New Comment:" %></strong>
  <%= f.text_area :body, rows: 3, class: 'span4' %>
  <br/>
  <%= f.submit 'Add', class: 'btn btn-small btn-primary' %>
<% end %>

<h4>Previous Comments:</h4>
<% @post.comments.each do |comment| %>
  <div class='span8 well well-small'>
    <p><%= comment.body %></p>
    <p>
      <%= render 'shared/footer', item: comment %>
    </p>
  </div>
<% end %>
