<%= render 'shared/content_title', title: "Add Category" %>


<div class='well'>
  <%= render 'shared/errors', model_obj: @category %>
  <%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br>
    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>

